<div class="userlist-container">
    <div class="row w-100">
        <input type="text" placeholder="Filter by Email" [(ngModel)]="filterEmail" (input)="applyFilter()"
            class="filter-input" />
    </div>

    <!-- <button (click)="addUser()" class="add-btn">Add User</button> -->
    <div class="table-container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>-</th>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsers">
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="updateUser(user)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-sm btn-danger ms-1" (click)="deleteUser(user.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                    <td>
                        <a [href]="user.avatar" target="_blank">
                            <img [src]="user.avatar" alt="Avatar" class="avatar-img" />
                        </a>
                    </td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.balnce }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>